## DATA PREPROCESSING

In [344]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import json
from rake_nltk import Rake
import re

In [345]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Jayaprakash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Jayaprakash\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [346]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [347]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [348]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [349]:
movies.rename(columns={'id':'movie_id'},inplace=True)

In [350]:
df=pd.merge(movies,credits,on='movie_id')
df.head(2)

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [351]:
df.shape

(4803, 23)

In [352]:
df.columns

Index(['budget', 'genres', 'homepage', 'movie_id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title_x', 'vote_average', 'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [353]:
df.drop(columns=['budget','homepage','original_language','revenue', 'runtime','spoken_languages','status','title_x','title_y','popularity','release_date','vote_average','vote_count'],inplace=True)

In [354]:
df.columns

Index(['genres', 'movie_id', 'keywords', 'original_title', 'overview',
       'production_companies', 'production_countries', 'tagline', 'cast',
       'crew'],
      dtype='object')

In [355]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [356]:
import json
def jsonDecode(data,key):
    result=[]
    data=json.loads(data)
    for item in data:
        result.append(item[key])
    return(result)

In [357]:
df['genres']=df['genres'].apply(jsonDecode,key='name')

In [358]:
df['keywords']=df['keywords'].apply(jsonDecode,key='name')

In [359]:
df['production_companies']=df['production_companies'].apply(jsonDecode,key='name')

In [360]:
df['production_countries']=df['production_countries'].apply(jsonDecode,key='name')

In [361]:
df['cast']=df['cast'].apply(jsonDecode,key='name')

In [362]:
df['crew']=df['crew'].apply(jsonDecode,key='name')

In [363]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",Enter the World of Pandora.,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."

In [364]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                4803 non-null   object
 1   movie_id              4803 non-null   int64
 2   keywords              4803 non-null   object
 3   original_title        4803 non-null   object
 4   overview              4800 non-null   object
 5   production_companies  4803 non-null   object
 6   production_countries  4803 non-null   object
 7   tagline               3959 non-null   object
 8   cast                  4803 non-null   object
 9   crew                  4803 non-null   object
dtypes: int64(1), object(9)
memory usage: 412.8+ KB

In [365]:
df['tagline'].fillna(' ',inplace=True)
df['overview'].fillna(' ',inplace=True)

In [366]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                4803 non-null   object
 1   movie_id              4803 non-null   int64
 2   keywords              4803 non-null   object
 3   original_title        4803 non-null   object
 4   overview              4803 non-null   object
 5   production_companies  4803 non-null   object
 6   production_countries  4803 non-null   object
 7   tagline               4803 non-null   object
 8   cast                  4803 non-null   object
 9   crew                  4803 non-null   object
dtypes: int64(1), object(9)
memory usage: 412.8+ KB

In [367]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",Enter the World of Pandora.,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."

In [368]:
def removeSpace(row):
    x=[]
    for i in row:
        i=i.replace(' ','')
        i=i.lower()
        x.append(i)
    return(x)

In [369]:
df['genres'] = df['genres'].apply(removeSpace).str.join(' ')

In [370]:
df['keywords'] = df['keywords'].apply(removeSpace).str.join(' ')

In [371]:
df['production_companies'] = df['production_companies'].apply(removeSpace).str.join(' ')

In [372]:
df['production_countries'] = df['production_countries'].apply(removeSpace).str.join(' ')

In [373]:
df['overview'] = df['overview'].str.lower()

In [374]:
df['tagline'] = df['tagline'].str.lower()

In [375]:
df['original_title'] = df['original_title'].str.lower()

In [376]:
df['cast'] = df['cast'].apply(removeSpace).str.join(' ')

In [377]:
df['crew'] = df['crew'].apply(removeSpace).str.join(' ')

In [378]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,action adventure fantasy sciencefiction,19995,cultureclash future spacewar spacecolony socie...,avatar,"in the 22nd century, a paraplegic marine is di...",ingeniousfilmpartners twentiethcenturyfoxfilmc...,unitedstatesofamerica unitedkingdom,enter the world of pandora.,samworthington zoesaldana sigourneyweaver step...,stephene.rivkin rickcarter christopherboyes ch...

In [379]:
from rake_nltk import Rake
r=Rake()
def extract_important_words(row):
    word = r.extract_keywords_from_text(row)
    word = r.get_ranked_phrases()
    return ' '.join(word)

In [380]:
df['overview'] = df['overview'].apply(extract_important_words)

In [381]:
df['tagline'] = df['tagline'].apply(extract_important_words)

In [382]:
df['keywords'] = df['keywords'].apply(extract_important_words)

In [383]:
df.head()

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,action adventure fantasy sciencefiction,19995,cultureclash future spacewar spacecolony socie...,avatar,unique mission paraplegic marine moon pandora ...,ingeniousfilmpartners twentiethcenturyfoxfilmc...,unitedstatesofamerica unitedkingdom,world pandora enter,samworthington zoesaldana sigourneyweaver step...,stephene.rivkin rickcarter christopherboyes ch...
1,adventure fantasy action,285,slife traitor shipwreck strongwoman ship allia...,pirates of the caribbean: at world's end,long believed elizabeth swann come back captai...,waltdisneypictures jerrybruckheimerfilms secon...,unitedstatesofamerica,adventure begins world end,johnnydepp orlandobloom keiraknightley stellan...,dariuszwolski goreverbinski jerrybruckheimer t...
2,action adventure crime,206647,spy basedonnovel secretagent sequel mi6 britis...,spectre,terrible truth behind spectre secret service a...,columbiapictures danjaq b24,unitedkingdom unitedstatesofamerica,one escapes plan,danielcraig christophwaltz léaseydoux ralphfie...,thomasnewman sammendes annapinnock johnlogan j...
3,action crime drama thriller,49026,superhero villainess tragichero terrorism dest...,the dark knight rises,gotham city police department district attorne...,legendarypictures warnerbros. dcentertainment ...,unitedstatesofamerica,legend ends,christianbale michaelcaine garyoldman annehath...,hanszimmer charlesroven christophernolan chris...
4,action adventure sciencefiction,49529,basedonnovel mars medallion spacetravel prince...,john carter,reluctantly becomes embroiled former military ...,waltdisneypictures,unitedstatesofamerica,world lost found another,taylorkitsch lynncollins samanthamorton willem...,andrewstanton andrewstanton johnlasseter colin...

In [384]:
df['combined_features'] = df['genres']+' '+df['keywords']+' '+df['overview']+' '+df['production_companies']+' '+df['production_countries']+' '+df['tagline']+' '+df['cast']+' '+df['crew']

In [385]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew,combined_features
0,action adventure fantasy sciencefiction,19995,cultureclash future spacewar spacecolony socie...,avatar,unique mission paraplegic marine moon pandora ...,ingeniousfilmpartners twentiethcenturyfoxfilmc...,unitedstatesofamerica unitedkingdom,world pandora enter,samworthington zoesaldana sigourneyweaver step...,stephene.rivkin rickcarter christopherboyes ch...,action adventure fantasy sciencefiction cultur...

In [386]:
df.drop(columns=['movie_id','production_companies','production_countries','genres','keywords','overview','tagline','cast','crew'],inplace=True)

In [387]:
df.head(10)

,original_title,combined_features
0,avatar,action adventure fantasy sciencefiction cultur...
1,pirates of the caribbean: at world's end,adventure fantasy action slife traitor shipwre...
2,spectre,action adventure crime spy basedonnovel secret...
3,the dark knight rises,action crime drama thriller superhero villaine...
4,john carter,action adventure sciencefiction basedonnovel m...
5,spider-man 3,fantasy action adventure slife forgiveness spi...
6,tangled,animation family hostage magic horse fairytale...
7,avengers: age of ultron,action adventure sciencefiction marvelcomic se...
8,harry potter and the half-blood prince,adventure fantasy family witch magic broom sch...
9,batman v superman: dawn of justice,action adventure fantasy dccomics vigilante su...

In [388]:
def clear(data):
    result=[]
    result.append(re.sub("[^a-z1-9]","",data))
    return result

In [389]:
df['title'] = df['original_title'].apply(clear).str.join('')

In [390]:
df.head()

,original_title,combined_features,title
0,avatar,action adventure fantasy sciencefiction cultur...,avatar
1,pirates of the caribbean: at world's end,adventure fantasy action slife traitor shipwre...,piratesofthecaribbeanatworldsend
2,spectre,action adventure crime spy basedonnovel secret...,spectre
3,the dark knight rises,action crime drama thriller superhero villaine...,thedarkknightrises
4,john carter,action adventure sciencefiction basedonnovel m...,johncarter

In [391]:
df.to_csv('final_data.csv',index=False)